<header class="header">
  <div class="container header-container">
    <nav class="navbar">
      <a href="./index.html" class="logo" style="--i: 1">S<span>V</span></a>
      <button
        class="burger-btn"
        id="burgerBtn"
        aria-label="Menu"
        style="--i: 2"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-list" id="navbarMenu">
        <ul class="navbar-list-items">
          <li class="navbar-list-item" style="--i: 1">
            <a class="navbar-link" href="../index.html">Home</a>
          </li>
          <li class="navbar-list-item" style="--i: 2">
            <a class="navbar-link" href="#project">Projects</a>
          </li>
          <li class="navbar-list-item" style="--i: 3">
            <a class="navbar-link" href="#contact">Contact</a>
          </li>
        </ul>
        <a
          href="https://drive.google.com/file/d/1ESe0LQt-rOeNNYPmwiYpW1Vy0HkPx7DY/view?usp=sharing"
          class="cvbtn"
          style="--i: 4"
          target="_blank"
        >
          My Resume
          <svg class="navbar-icon" width="30" height="30">
            <use href="img/sprite.svg#download"></use>
          </svg>
        </a>
      </div>
      <!-- темний фон при відкритті меню -->
      <div class="menu-overlay" id="menuOverlay"></div>
    </nav>
  </div>
</header>
