<section class="hero" id="hero">
  <div class="container hero-containet">
    <div class="hero-image">
      <img
        src="./img/webp/about3.webp"
        width="250"
        height="330"
        alt="Foto Svitlana"
      />
    </div>
    <div class="hero-content">
      <p class="hero-subtitle" style="--i: 1">Hello, I'm</p>
      <h1 style="--i: 2">Svitlana Gimish</h1>
      <h2 style="--i: 3">
        And I'm a
        <span>Frontend Developer</span>
      </h2>
      <p class="hero-description" style="--i: 4">
        I craft clean, responsive web interfaces with a strong eye for detail,
        accessibility, and seamless usability. Expert in building modern layouts
        using
        <strong>Flexbox</strong> and <strong>Grid</strong>, powered by
        JavaScript and tracked with Git.
      </p>
      <div class="social-icons" style="--i: 5">
        <a href="#">
          <svg class="social-icon" width="40" height="40">
            <use href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="social-icon" width="40" height="40">
            <use href="img/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </div>
      <div class="hero-btn" style="--i: 6">
        <a class="btn" href="#">My Projects</a>
        <a class="btn" href="#">Contact Me</a>
      </div>
    </div>
  </div>
</section>
