<section class="projects">
  <div class="container">
    <h2 class="title"><span>&#8212;</span> Projects <span>&#8212;</span></h2>
    <ul class="card-items">
      <!-- КАРТКА  -->
      <li class="card-box">
        <!-- Посилання-картинка (окремий ховер) -->
        <a
          class="preview-container"
          href="https://svetlanagim.github.io/Chocolate/"
          target="_blank"
        >
          <iframe
            class="preview-frame"
            src="https://svetlanagim.github.io/Chocolate/"
            scrolling="no"
          ></iframe>
        </a>
        <div>
          <h3>Сайт про шоколад</h3>
          <a href="">GitHub</a>
        </div>
      </li>
      <li class="card-box">
        <a
          href="https://wikipedia.org"
          target="_blank"
          class="preview-container"
        >
          <iframe
            src="https://wikipedia.org"
            class="preview-frame"
            scrolling="no"
          ></iframe>
        </a>
        <h3>Сайт про шоколад</h3>
        <a href="">GitHub</a>
      </li>
      <li class="card-box">
        <a
          href="https://svetlanagim.github.io/STP-12937/"
          target="_blank"
          class="preview-container"
        >
          <iframe
            src="https://svetlanagim.github.io/STP-12937/"
            class="preview-frame"
            scrolling="no"
          ></iframe>
        </a>
        <h3>Сайт про шоколад</h3>
        <a href="">GitHub</a>
      </li>
      <li class="card-box">
        <a
          href="https://whimsical-melba-864f84.netlify.app/"
          target="_blank"
          class="preview-container"
        >
          <iframe
            src="https://whimsical-melba-864f84.netlify.app/"
            class="preview-frame"
            scrolling="no"
          ></iframe>
        </a>
        <h3>Сайт про шоколад</h3>
        <a href="">GitHub</a>
      </li>
    </ul>
  </div>
</section>
