<section class="projects">
  <div class="container">
    <h2 class="title"><span>&#8212;</span> Projects <span>&#8212;</span></h2>
    <ul class="projects-list">
      <!-- КАРТКА 1 -->
      <li class="projects-card">
        <a
          class="projects-image-link"
          href="https://svetlanagim.github.io/Chocolate/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="projects-image"
            src="../img/simply-chocolate.png"
            alt="Simply Chocolate"
          />
        </a>
        <div class="project-info">
          <h3 class="projects-title">Simply Chocolate</h3>
          <div class="projects-technologies">
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
          </div>
          <div class="projects-links">
            <a
              class="btn projects-link"
              href="https://svetlanagim.github.io/Chocolate/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Live page
            </a>

            <a
              class="btn projects-link"
              href="https://github.com/svetlanagim/Chocolate"
              target="_blank"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
          </div>
        </div>
      </li>
      <!-- КАРТКА 2 -->
      <li class="projects-card">
        <a
          class="projects-image-link"
          href="https://svetlanagim.github.io/STP-12937/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="projects-image" src="../img/game.png" alt="Game" />
        </a>
        <div class="project-info">
          <h3 class="projects-title">Game</h3>
          <div class="projects-technologies">
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
          </div>
          <div class="projects-links">
            <a
              class="btn projects-link"
              href="https://svetlanagim.github.io/STP-12937/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Live page
            </a>

            <a
              class="btn projects-link"
              href="https://github.com/svetlanagim/STP-12937"
              target="_blank"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
          </div>
        </div>
      </li>
      <!-- КАРТКА 3 -->
      <li class="projects-card">
        <a
          class="projects-image-link"
          href="https://whimsical-melba-864f84.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="projects-image" src="../img/hlegal1.png" alt="Hlegal" />
        </a>
        <div class="project-info">
          <h3 class="projects-title">HLegal</h3>
          <div class="projects-technologies">
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
          </div>
          <div class="projects-links">
            <a
              class="btn projects-link"
              href="https://whimsical-melba-864f84.netlify.app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Live page
            </a>

            <a
              class="btn projects-link"
              href="https://github.com/svetlanagim/Hlegal-"
              target="_blank"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
