.projects {
  margin-bottom: 30px;
}

.title {
  text-align: center;
  text-shadow: 0 0 10px var(--light-text-clr);
  margin-bottom: 20px;
}

.title span {
  color: var(--global-clr);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.projects-card {
  /* background: var(--dark-clr); */
  background: linear-gradient(79deg, rgba(8, 29, 44, 1) 57%, rgba(6, 86, 117, 1) 100%);
  border: 2px solid var(--global-clr);
  box-shadow: 0 0 15px var(--global-clr);
  border-radius: 12px;
  padding: 15px;
  transition: all 0.2s ease;
  width: 100%;

  color: var(--light-text-clr);
  position: relative;
  overflow: hidden;
}


.projects-card:hover {
  transform: scale(1.05);
  /* Збільшення масштабу */

  /* Підсилення тіні */
  box-shadow: 0 0 15px var(--global-clr),
    0 0 10px var(--global-clr),
    0 0 15px var(--global-clr);

}

.projects-image-box {
  /* display: block; */
  /* Робимо посилання блочним */
  /* position: relative; */

  /* width: 350px; */
  height: 250px;
  /* border: 15px solid var(--global-dark); */
  border: 1px solid var(--global-clr);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--second-dark-clr);

  margin-bottom: 10px;
}


.projects-image {
  width: 100%;
  transform-origin: 8px 80px;
  transform: rotate(5deg);
  transition: transform .3s ease-in-out;
  border-radius: 12px;
  /* , transform-origin .3s ease-in-out; */
}

.projects-card:hover .projects-image {
  transform: scale(1);
  /* transform-origin: 0px 0px; */
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projects-title {}

.projects-technologies {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.projects-technologies p {
  padding: 5px 7px;
  /* border: 1px solid var(--second-dark-clr); */
  border-radius: 50px;
  box-shadow:
    0 0 3px var(--global-clr);
}

.project-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: 0.75rem;
  /* Чуть меньше основного текста */
  color: var(--light-text-clr);
  opacity: 0.8;
  /* Делаем текст менее кричащим */
}

/* Разделитель между типом проекта и ролью */
.project-type::after {
  content: "";
  display: inline-block;

  width: 6px;
  height: 6px;
  margin-left: 10px;
  background-color: var(--global-clr);
  border-radius: 50%;

  box-shadow: 0 0 8px var(--global-clr), 0 0 3px var(--global-clr);

  /* vertical-align: middle; */
}

.project-role {
  font-weight: 500;
  /* Можно выделить роль цветом, если хотите сделать на ней акцент: */
  /* color: var(--global-clr); */
}



.projects-links {
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-50% -50%); */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: flex;
  gap: 10px;
}

.projects-card:hover .projects-links {
  opacity: 1;
}

.projects-link {
  width: auto;
  height: auto;
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .projects-list {
    /* flex-direction: row; */
  }

  .projects-card {
    width: calc((100% - 1 * 30px) / 2);
  }
}


@media screen and (min-width: 1200px) {
  .projects-card {
    width: calc((100% - 2 * 30px) / 3);
  }
}