.skills {
  overflow: hidden;
  width: 100%;
  background: var(--second-dark-clr);
  padding: 20px 0;

}

.skills-track {
  display: flex;
  width: max-content;
  /* gap: 40px; */
  animation: scroll 20s linear infinite;
}

.skills-list {
  display: flex;
  padding: 0;
  margin: 0;
  /* gap: 40px; */
}

.skills-item {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--dark-clr);
  font-weight: 700;
  padding: 0 40px;
  /* Отступы между навыками */
  white-space: nowrap;
}